* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__header {
  object-fit: contain;
  background-color: white;
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__signup * {
  margin: 10px;
}
.app__posts {
  margin: 100px 0;
}
