.post {
  max-width: 500px;
  background-color: white;
  border-radius: 10px;
  margin: 20px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post__image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.post__text {
  font-weight: normal;
  padding: 20px;
  width: 90%;
}

.post__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  width: 90%;
}

.post__user {
  display: flex;
}

.post__userInfo {
  padding: 0 10px;
}

.post__userInfo p {
  font-size: 12px;
}

.post__commentForm {
  width: 85%;
}
.post__commentInput {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  outline: 0;
  border: 1px solid lightgray;
  margin-bottom: 20px;
}

.post__comments {
  width: 95%;
}

.post__comments__singleComment {
  border-top: 1px solid lightgray;
  padding: 5px 0;
  margin: 10px 0;
}
